.slider {
    position: relative;
    height: 420px;
    width: 560px;
    overflow: hidden; 
    margin: 0 auto;
}

.slider_wrap {
    position: relative;
}

.btn_next {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 30px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 3px;
    z-index: 5;
}

.btn_mob {
    display: none;
}

@media (max-width: 575px) {
    .slider {
        max-width: 280px;
        height: 484px;
    }

    .btn_desc {
        display: none;
    }

    .btn_mob {
        display: block;
        left: 0;
        width: fit-content;
        padding: 20px 10px;
    }
}

