.items {
    display: flex;
    margin-top: 40px;
    width: 90vw;
    justify-content: center;
    perspective: calc(var(--index) * 75); 
}

.item {
    padding: 0px 3px;
    width: calc(var(--index) * 3.2);
    height: calc(var(--index) * 12);
    background: bottom;
    filter: grayscale(1) brightness(.5);
    transition: transform 1s var(--transition), filter 1.5s var(--transition), width .3s linear, height .3s linear;
    will-change: transform, filter;
}

@media (max-width: 1199.4px) {
    .items {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .item {
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 10);
        padding: 6px 0px;
    }
    .item:has(+ .active) { 
        filter: grayscale(.2) brightness(.6); 
    } 
    .active {
        width: calc(var(--index) * 25);
        height: calc(var(--index) * 13);
        filter: inherit; 
        transform: scale3d(1.3);
    }
    .item.active + * {
        filter: grayscale(.1) brightness(.6); 
    }

    .offset {
        position: fixed;
        left: 50%;
        top: 70vh;
    }
}