.line {
    position: absolute;
    max-width: 220px;
    right: 20px;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    background: var(--main-color);
    color: var(--color-text);
    border-radius: 4px;
    opacity: 0;
    z-index: 10;
}

.line h3 {
    background: bottom;
}

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.visible {
    animation: body-opacity .5s ease forwards; 
}

.invisible {
    animation: body-not-opacity .5s ease forwards; 
}

@keyframes body-opacity {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes body-not-opacity {0% {opacity: 1;} 100% {opacity: 0;}}

.wrapper {
    width: 220px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    color: var(--color-text);
    border-radius: 4px;
}

.message {
    background: bottom;
}

.message h3 {
    background: bottom;
}